/* Making a list of colors to use throughout the styling */
$Colors : #8ccff7 #4e89ae #43658b #ed6663 #ffa372 #444 #e4eff5;

/* Removing default margin around the body */
* {
    margin: 0;
}

/* MIXIN THAT DEALS WITH MEDIA QUERIES*/
@mixin breakpoint($maxwidth){
    @media screen and (max-width: $maxwidth) {
        @content;
    }
}

/* A mixin that holds the general styling for the rows 
and carries the variable $bg-color for the background color*/
@mixin lines($bg-color){
    background-color: $bg-color;
    &:hover {
        background-color: nth($Colors, 6); /* Specifying the hover color */
        cursor: pointer;
    }
    width: 100%;
    height: 35px;
}

/* A mixin that contains the common styles for the four circles 
and carries two variables for the circle size and color respectively*/
@mixin circles ($size, $color){
    margin-right: 10px;
    background-color: $color;
    width: $size;
    height: $size;
    border-radius: 50%;
    &:hover {
        background-color: nth($Colors, 6);
        cursor: pointer;
    }
}

/* Styling the header */
header {
    background-color: nth($Colors, 1);
    max-width: 100%;
    /* Applying flex layout to make it responsive */
    display: flex;
    justify-content: center; /* Aligning the image at the centre */
}

/* Setting background color for the body */
body {
    background-color: nth($Colors, 7);
}

/* Making sure the image is displayed properly */
img {
    margin: 0;
    max-width: 100%;
    height: auto;
    margin-bottom: -4px;
}

/* Setting the background color for the main container 
and also styling the circles container within it */
.container {
    background-color: nth($Colors, 7);
    padding-top: 50px;
    
    /* Applying flex layout to the circles div*/
    .circles {
        margin: auto;
        display: flex;
        justify-content: center;

        /* Including breakpoint at 621px to make the circles
        stack vertically by adding flex-direction: column*/
        @include breakpoint(621px){
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
    }
}

/* Using the mixin created before to add the same
styles on all the lines and changing the color only */
.firstline {
    @include lines(nth($Colors, 2))
}

.secondline {
    @include lines(nth($Colors, 3))
}

.thirdline {
    @include lines(nth($Colors, 4))
}

.fourthline {
    @include lines(nth($Colors, 5))
}

/* Using the mixin created before to add the same
styles on all the circles and changing the color and size only */
.circle1 {
    margin-top: 75px;
    margin-bottom: 75px;
    @include circles(70px, nth($Colors, 2));

    /* Adding breakpoints to adjust the margins */
    @include breakpoint(621px){
        margin-top: 50px;
        margin-bottom: 10px;
    }
}

.circle2 {
    margin-top: 70px;
    margin-bottom: 70px;
    @include circles(80px, nth($Colors, 3));

    @include breakpoint(621px){
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.circle3 {
    margin-top: 65px;
    margin-bottom: 65px;
    @include circles(90px, nth($Colors, 4));

    @include breakpoint(621px){
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.circle4 {
    margin-top: 60px;
    margin-bottom: 60px;
    @include circles(100px, nth($Colors, 5));

    @include breakpoint(621px){
        margin-top: 0;
        margin-bottom: 50px;
    }
}
  
/* Styling the footer. Giving specific height to it. */
footer {
    background-color: nth($Colors, 1);
    height: 50px;
    width: 100%;
}